
/*Estilo de la barra de navegación*/
.navbar-brand{
    font-size: 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
}

.nav-link{
    color: black;
}
.nav-link:hover{
    color: rgb(120, 235, 120);
    text-decoration: underline;
}

.botonInicio{
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 15px;
}

/*Estilos de las imagenes*/
#imagenTitulo{
    margin-top: 15px;
    max-width: 900px;
}

#imagenSomos{
    max-width: 600px;
    border-radius: 15%;
}

#imagenMision{
    max-width: 600px;
    border-radius: 15%;
}

#imagenVision{
    max-width: 600px;
    border-radius: 15%;
}

#imagenProblematica{
    max-width: 600px;
    border-radius: 15%;
}

#flecha{
    max-width: 400px;
}

#comoAyudar{
    max-width: 600px;
}

/*Estilos de la lista inferior*/
nav ul li a{
    color: green;
}

.frase{
    background-color: #d1f0c3;
    border-radius: 40px 40px 40px 40px; 
    margin: 20px auto;
    width: 90%;
    text-align: center;
    padding: 15px;
    font-size: 1.5rem;
    color: #000000;
    overflow: show ;
}
.frase img{ 
    border-radius: 60%;
    width: 70%;
}